<%= form_with model: @page, class: "page-form", local: true do |form| %>

  <h2>
    <%= form.label :title %>
  </h2>
  <%= form.text_field :title %>

  <h2>
    <%= form.label :slug %>
  </h2>
  <%= form.text_field :slug %>

  <h2>
    <%= form.label :content %>
  </h2>
  <%= form.text_area :content %>

  <li>
    <%= form.submit %>
  </li>

<% end %>
