<!DOCTYPE html>
<html>
  <head>
    <title>Playbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-nav-bar">
        <div class="logo">
          <a href="<%= pages_path %>" title="Home"><img src="/assets/dmark.png" width="32" height="32"/></a>
        </div>
        <ul>
          <li>
            <a href="<%= new_page_path %>">Create Page</a>
          </li>
          <li>
            <a href="<%= new_user_path %>">Sign Up</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
