<!DOCTYPE html>
<html>
  <head>
    <title>Playbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-nav-bar">
        <% if current_user %>
          <ul>
            <li>
              <%= link_to "Sign Out", signout_path %>
            </li>
            <li>
              <%= link_to "Create Page", new_page_path %>
            </li>
          </ul>
          <% else %>
          <ul>
            <li>
              <%= link_to "Sign Up", new_user_path %>
            </li>
            <li>
              <%= link_to "Sign In", signin_path %>
            </li>
          </ul>
        <% end %>
        <div class="logo">
          <a href="<%= pages_path %>" title="Home"><img src="/assets/dmark.png" width="32" height="32"/></a>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
